@font-face{
    font-family: "police";
	src: url('../polices/Stormland_PERSONAL_USE_ONLY-Black.otf') format('otf'),
		url('../polices/Stormland_PERSONAL_USE_ONLY-Bold.otf') format('woff2'),
        url('../polices/Stormland_PERSONAL_USE_ONLY-Light.otf') format('woff'); 
}
@font-face{
    font-family: 'KG';
    src: url('../polices/KGEverSinceNewYork.ttf') format('truetype');
}

h2
{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}


button
{
    width: 120px;
    height: 30px;
    margin-top : 50px;
    margin: auto;
    border: 0.5px solid;
    border-radius: 2rem;
    background-color: rgb(218, 218, 142);
    font-weight: bold;
}
button:hover
{
    opacity: 0.8;
}
header{
    padding: 20px;
    font-size: 1.4em;
}

header .navbar-nav{
    align-items: center;
}

header hr{
    opacity: 0;
    border: 1.5px white solid;
}
header a:hover + hr{
    opacity: 1;
}
header .navbar-brand{
    font-size: 1.4em;
}

header i
{
    transform: scale(1.4);
}

.monitorGif{
    background-image: url('../images/monitor.gif');
    background-position: center;
    background-size: cover;
    width: 130px;
    height: 80px;
    margin-top: 3px;
    border-radius: 0.5rem;
    margin-left: 100px;
}

hr
{
    border: 1px black solid;
    width: 80%;
    margin: auto;
}

.navbar-brand{
    margin-right: 50px;
}
.form{
    width: 400px;
    margin: auto;
    margin-top: 100px;
    font-family: 'police';
    font-style: italic;
    font-size: 0.9em;
}
.form div{
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.form div input{
    width: 200px;
}

#formSubmitButton{
    display: block;
    width: 150px;
    margin: auto;
}

main{
    width: 900px;
    margin: auto;
    position: relative;
    margin-bottom: 100px;
}


.jumbos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 120px;
    margin: auto;
    position: relative;
}

.jumbos p{
    font-family: 'police';
    font-style: italic;
    font-size: 2.8em;
    text-align: center;
    width: 800px;
    padding-top: 10px;
}

.jumbo{
    background-image: url('../images/monitor_logo.png');
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 80px;
}
.jumbos + hr{
    width: 400px;
    margin: auto;
}

#monitoringBlock{
    width: 1000px;
    margin: auto;
    margin-top: 80px;
    border: 2px black solid;
    box-shadow: 2px 2px 1px black ;
    font-family: 'KG';
    font-weight: bold;
    position: relative;
    background-color: blanchedalmond;
}
.aeBlock{
    display: flex;
    position: relative;
    border-bottom: 4px black solid;
}

.aeBlock .aeDiv{
    position: relative;
    border: 1px black solid;
    width: 40%;
    text-align: center;
    display: flex;
}
.aeDiv p{
    width: 100px;
    margin: auto;
    font-size: 1.9em;
}
.aeDiv p i{
    margin-top: 30px;
    width: 50px;
    transform: scale(2);
}
.aeDiv .fa-dot-circle{
    transform: scale(1.4);
}
.aeDiv .room_logo{
    display: block;
    background-image: url('../images/room_logo.jpg');
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
}

.aeBlock .aeContainersDiv{
    border: 1px black solid;
    width: 60%;
}
.containerDiv{
    border-top: 1px rgb(75, 62, 65) solid;
    margin-bottom: 50px;
}
.containerDiv h6{
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
}
.containerDiv h6 p{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.2em;
    font-family: 'police';
}
.containerDiv h6 .TEMPERATURE_logo, .containerDiv h6 .ACCELEROMETER_logo{
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 1em;
}
.containerDiv h6 .TEMPERATURE_logo{
    background-image: url('../images/temperature_logo.jpg');
}
.containerDiv h6 .ACCELEROMETER_logo{    
    background-image: url('../images/accelerometer_logo.jpg');
}
.dataDiv{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dataDiv i {
    margin-right: 10px;
}
.goodAlert{
    width: 80px;
    height: 80px;
    background-image: url('../images/goodAlert.gif');
    background-position: center;
    background-size: cover;
    border-radius: 1em;
}
.badAlert{
    width: 40px;
    height: 40px;
    background-image: url('../images/badAlert.gif');
    background-position: center;
    background-size: cover;
}

footer
{
    margin-top: 90px;
    padding: 25px;
}
footer ul
{
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
li
{
    
    margin-right: 20px;
    text-align: center;
}

@media all and (max-width: 900px)
{
    
    button
    {
        margin: auto;
        margin-top: 40px;
    }  

    footer ul
    {
        width: 400px;
        flex-direction: column;
    }
    li
    {
        margin: auto;
    }
}

