h2
{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
h3
{
    text-align: center;
    font-size: 0.9em;
    margin-top: 10px;
}
.block
{
    display: flex;
    justify-content: space-evenly;
}
button
{
    width: 100px;
    height: 30px;
    margin-top : 50px;
    border: 0.5px solid;
    border-radius: 2rem;
    background-color: rgb(218, 218, 142);
    font-weight: bold;
}
button:hover
{
    opacity: 0.8;
}
i
{
    transform: scale(1.2);
}

select
{
    margin-top: 20px;
    height: 30px;
}

.selectQuantity
{
    margin-right: 20px;
    width: 55px;
}

.optionsBlock .selectQuantity
{
    margin-left: auto;
    margin-right: auto;
}

#purchases
{
    width: 90%;
    margin: auto;
}

#products
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
   
}

.productCard
{
    color: black;
    text-decoration: none;
    
    width: 300px;      
    
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    border: 1px rgb(185, 180, 180) solid;
    border-radius: 2rem;
    box-shadow: 3px 3px 0px rgb(134, 133, 133);

}
.productCard:hover
{
    opacity: 0.8;
    color: black;
    text-decoration: none;
}

.productImage
{
    width: 100%;
    height: 150px;
    margin: auto;
    /* Pour bien faire etendre l'image sur tout le bloc */
	background-size: cover;
	/* Pour centrer l'image */
	background-position: center;
    border-radius: 2rem 2rem 0 0;
}

.productDescription
{
    margin-left: 10px;
}

.optionsBlock
{
    display: flex;
    flex-direction: column;
    margin-left: 30px;    
}

.removeButton
{
    background-color: red;
    margin-top: 20px;
    
}

#sum
{
    width: 150px;
    padding: 10px;
    font-weight: bold;
    
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px black solid;
    border-radius: 2rem;
    background-color: thistle;
    box-shadow: 3px 3px 0px black;
}
hr
{
    border: 1px black solid;
    width: 80%;
    margin: auto;
}
form
{
    width: 60%;    
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    
}
form h4
{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}
form fieldset
{
    display: flex;
    flex-direction: column;
}
form button
{
    margin-right: auto;
    margin-left: auto;
}

form div
{
    margin-top: 10px;    
}
form label
{
    width: 100px;
}

footer
{
    margin-top: 80px;
    padding: 20px;
}
footer ul
{
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
li
{
    
    margin-right: 20px;
    text-align: center;
}

.purchaseBlock
{
    width: 90%;
    margin: auto;
}
.purchaseQuantityBlock
{
    width: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    border: 2px black solid;
}

@media all and (max-width: 900px)
{
    .block
    {
        display: flex;
        flex-direction: column;
    }
    button
    {
        margin: auto;
        margin-top: 40px;
    }
    
    select
    {
        margin: auto;
        margin-top: 30px;
    }
    #products
    {
        display: flex;
        flex-direction: column;
    }

    .productCard
    {      
        margin: auto;
        margin-top: 50px;
    }

    
    form div
    {
        display: flex;
        flex-direction: column;
    }
    

    footer ul
    {
        width: 400px;
        flex-direction: column;
    }
    li
    {
        margin: auto;
    }
}


.recap
{
    width: 300px;
    font-weight: bold;
    margin: auto;
    margin-top: 30px;
    border: 2px grey solid;
    text-align: center;
    padding: 10px;
}
