h2
{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}


button
{
    width: 120px;
    height: 30px;
    margin-top : 50px;
    margin: auto;
    border: 0.5px solid;
    border-radius: 2rem;
    background-color: rgb(218, 218, 142);
    font-weight: bold;
}
button:hover
{
    opacity: 0.8;
}

.header i
{
    transform: scale(1.2);
}

hr
{
    border: 1px black solid;
    width: 80%;
    margin: auto;
}

main{
    width: 400px;
    margin: auto;
    position: relative
}


.jumbos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    margin: auto;
    position: relative;
}
.jumbos div{
    position: relative;
}
.jumbos i{
    transform: scale(3.4);
    position: absolute;
}
.jumbos .fas.fa-heart{
    color: blue;
}
.jumbos .far.fa-heart{
    color: black;
}

.jumbo{
    background-image: url('../images/monitor.png');
    background-position: center;
    background-size: cover;
    width: 240px;
    height: 180px;
    margin: auto;
}

footer
{
    margin-top: 80px;
    padding: 20px;
}
footer ul
{
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
li
{
    
    margin-right: 20px;
    text-align: center;
}

@media all and (max-width: 900px)
{
    
    button
    {
        margin: auto;
        margin-top: 40px;
    }  

    footer ul
    {
        width: 400px;
        flex-direction: column;
    }
    li
    {
        margin: auto;
    }
}

